@import url("//cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css");

* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: whitesmoke;
	text-align: center;
	margin: 0;
}

.wrapper {
	background-color: white;
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}

#canvas {
	pointer-events: none;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

li a {
	display: block;
	padding: 10px;
}

.shape-selectors {
	display: flex;
	justify-content: center;
}

.shape-selectors button {
	display: block;
	padding: 0.5em;
	background: white;
}

