* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: whitesmoke;
	text-align: center;
	margin: 0;
}

.wrapper {
	background-color: white;
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}

#canvas {
	pointer-events: none;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

li a {
	display: inline-block;
	padding: 10px;
}
